@font-face {
    font-family: 'verdemoderna';
    src: url('assets/verdemoderna.woff') format('woff');
}

* {
    box-sizing: border-box;
}

body,
h2 {
    font-family: 'Libre Baskerville', sans-serif;
    color: #124448;
}

h1,
.left,
h3 {
    font-family: 'Julius Sans One', sans-serif;
}

.container-fluid {
    position: relative;
}

.right-absolute {
    background-color: #E5EDE8;
    position: absolute;
    right: 0;
    z-index: 1;
    height: 100%;
}

.more-actions-overlay {
    position: absolute;
    background-color: aliceblue;
    height: 100%;
    right: 0;
    background-color: rgba(50, 90, 50, 0.1);
}

.header-background {
    position: relative;
    background-attachment: fixed, fixed, fixed, scroll;
    background-image: url(assets/contours.png), url(assets/noise.png), url(assets/gridlines.png), url(assets/huntington.jpg);
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    border-top: 12px solid #124448;
    height: 310px;
    padding-top: 77px;
    z-index: 1;
    /* LOGO SVG:   background-image: url(http://www.csszengarden.com/214/enso.svg);*/
}

.header-background:before {
    content: "";
    display: block;
}

.logo {
    width: 165px;
}

.title {
    color: white;
    font-size: 3.2em;
}

.subtitle,
.closer {
    font-family: 'Libre Baskerville', sans-serif;
    font-style: italic;
    color: rgba(250, 250, 250, 0.5);
}

.left {
    height: 70px;
    background-color: rgba(250, 250, 250, 0.1);
    text-align: center;
    color: rgba(250, 250, 250, 0.5);
    font-size: 1.35em;
    padding: 25px;
}

.right {
    height: 70px;
    background-color: rgba(250, 250, 250, 0.1);
    font-family: 'verdemoderna';
    font-size: 3.7em;
    padding: 0;
    border-left: 2px solid #124448;
    color: rgba(250, 250, 250, 0.5);
    text-align: center;
}

.all-left {
    padding: 4% 4% 4% 10%;
    line-height: 2;
}

.view-all-container p {
    margin: 0;
}

.enlightenment-requirements {
    background-color: #FFFFFF;
}

.sidebar-positioning {
    position: relative;
    z-index: 2;
    padding-top: 3%;
}

.sidebar-container {
    padding-bottom: 12px;
    height: 100%;
}

.sidebar-main {
    font-size: 0.85em;
    color: #65747B;
}

.sidebar-author {
    color: #626958;
}

.sidebar-main:hover,
.sidebar-author:hover {
    color: #269A91;
    text-decoration: none;
}

.sidebar-by {
    color: #CCD6CF;
}

.all-left h3 {
    font-size: 2em;
}

.all-left p {
    font-size: 1.15em;
}

.all-left a {
    color: #0D8BA1;
}

.participation-background {
    background-color: #C6DFD1;
    background-image: url(assets/contours-opaque.png), url(assets/gridlines-opaque.png), url(assets/bamboo.png);
    background-attachment: scroll, scroll, fixed;
    background-repeat: repeat, repeat, cover;
    position: relative;
    z-index: 2;
}

.closer-container {
    background-attachment: fixed, fixed, fixed, scroll;
    background-image: url(assets/contours.png), url(assets/noise.png), url(assets/gridlines.png), url(assets/koi.jpg);
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    background-position: 0 0, 0 0, 0 0, 0 50%;
    height: 322px;
    text-align: center;
    padding: 80px;
    position: relative;
    z-index: 2;
}

.closer {
    line-height: 2;
}

.closer-white {
    font-style: normal;
    color: rgba(250, 250, 250, 0.7);
}

.closer-white:hover {
    color: rgba(250, 250, 250, 0.7);
}

.footer {
    background-color: #134347;
    height: 161px;
    font-family: 'verdemoderna';
    position: relative;
    text-align: center;
    z-index: 2;
}

.footer a {
    color: #89A1A3;
    font-size: 5em;
    ;
}

.footer-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-icons,
.footer-icons:hover {
    margin: 0 3%;
    text-decoration: none;
}

.html5:after,
.css3:after,
.cc:after,
.mezzo:after,
.git:after {
    transition: all .25s;
}

.html5:hover:after,
.css3:hover:after,
.cc:hover:after,
.mezzo:hover:after,
.git:hover:after {
    color: rgba(250, 250, 250, 0.3);
}

.html5:after {
    content: "5";
}

.html5:hover:after {
    text-decoration: none;
    content: "%";
}

.css3:after {
    content: "3";
}

.css3:hover:after {
    text-decoration: none;
    content: "#";
}

.cc:after {
    content: "c";
}

.cc:hover:after {
    text-decoration: none;
    content: "C";
}

.mezzo:after {
    content: "a";
}

.mezzo:hover:after {
    text-decoration: none;
    content: "A";
}

.git:after {
    content: "g";
}

.git:hover:after {
    text-decoration: none;
    content: "G";
}

.underlined {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.stupid-margin-fix {
    margin: 0;
    padding: 0;
}

.darker-underline {
    border-top: 1px solid #A0B9AD;
    border-bottom: 1px solid #A0B9AD;
}

.lighter-underline {
    border-bottom: 1px solid #D9E3DC;
}

.margin-top-fix {
    padding-top: 8%;
}

@media screen and (max-width: 992px) {
    .sidebar-positioning {
        position: absolute;
        top: 110%;
    }
    .participation-background {
        position: static;
    }
    .more-actions {
        position: absolute;
        background-color: #B2CEBE;
        background-image: url(assets/contours-opaque.png), url(assets/gridlines-opaque.png), url(assets/bamboo.png);
        background-attachment: scroll, scroll, fixed;
        background-repeat: repeat, repeat, cover;
    }
    .examples-background-sm {
        position: absolute;
        top: 100%;
    }
    .footer {
        height: 121px;
    }
    .footer a {
        font-size: 3.25em;
    }
    .title {
        font-size: 2.5em;
        text-align: center;
    }
    .subtitle {
        font-size: 1.3em;
        text-align: center;
    }
    .logo {
        width: 105px;
    }
    .right {
        border: 0;
    }
    .test {
        position: static;
    }
    .view-all-container {
        position: absolute;
        width: 100%;
        bottom: 0;
        margin-bottom: 0;
    }
    .sidebar-positioning {
        margin: 0;
        padding: 0;
    }
    .examples-background-sm {
        background-color: #E5EDE8;
        padding: 2% 0 0 0;
    }
    .examples-sm {
        height: 135px;
    }
    .sidebar-main {
        font-size: 0.75em;
    }
    .sidebar-author {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        width: 85px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .header-background {
        padding-top: 7%;
    }
    .closer {
        font-size: 1.6em;
    }
    .closer-container {
        padding: 10px 0;
        height: 220px
    }
    .sidebar-container {
        height: 100px;
    }
    .sidebar-main {
        font-size: 0.60em;
    }
    .sidebar-author {
        font-size: 0.65em;
    }
    .examples-sm {
        height: 145px;
    }
}
