* {
    box-sizing: border-box;
}

.box {
    height: 150px;
    width: 150px;
    background-color: red;
    display: inline-block;
    margin-left: 200px;
}

input {
    width: 150px;
    font-size: 1em;
}
