* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

.contact-container {
    width: 90%;
    margin: 5% auto;
    text-align: center;
}

.header {
    margin-bottom: 5%;
}

.card-container {
    width: 33.3333%;
    padding: 55px 25px;
    border: 20px solid white;
    background-color: #f5f5f5;
    text-align: center;
    display: inline-block;
}

.contact-img {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin: auto auto 15% auto;
}

.contact-img:after {
    position: absolute;
    height: 160px;
    width: 160px;
    background-color: red;
    border-radius: 100px;
    border: 1px solid grey;
}

.contact-name,
.contact-number {
    margin: 0;
}
