
.box {
    height: 100px;
    width: 100px;
    border: 2px dashed dimgrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 135px;
    transition-property: border-radius, background-color, box-shadow;
    transition-duration: 1.5s, 2s, 0.5s;
}
