/*clear-day, clear-night, rain, snow, sleet, wind, fog, cloudy, partly-cloudy-day, partly-cloudy-night*/

/*font-family: 'Anton', sans-serif;
font-family: 'Nunito', sans-serif;*/

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: #4A4A4A;
    margin: 0;
}

html {
    background: url(./assets/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

body {
    margin: 0;
    padding: 0;
}

.navbar-container {
    width: 100%;
    height: 50px;
    background-color: #4A90E2;
    margin: 0;
}

.today-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.today-component-container {
    height: 160px;
    width: 160px;
    margin: 2%;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.at-a-glance-container {
    position: relative;
    height: 185px;
    width: 185px;
    border: 2px solid #4A90E2;
    background-color: transparent;
    padding-left: 10px;
}

.at-a-glance-above-container {
    position: absolute;
    top: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.at-a-glance-above {
    text-align: center;
    margin-top: 50px;
}

.at-a-glance-text,
.weather-icon {
    font-size: 3em;
    color: #4A90E2;
}

.component-text {
    margin-top: 10%;
}

.forecast-containter {
    width: 80%;
    padding-top: 30px;
    margin: 100px auto;
    border-top: 1px solid #4A90E2;
    /*border-bottom: 2px solid #4A90E2;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.forecast-component-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #4A90E2;
    margin-bottom: 30px;
    padding: 10px;
}

@media screen and (max-width: 1032px){
    .today-container {
        margin-top: 30px;
    }
    .today-component-container {
        width: 90%;
        height: 160px;
    }

    .at-a-glance-container {
        position: absolute;
        top: 100px;
        left: 3%;
    }

    .at-a-glance-above {
        margin-top: 250px;
    }

    .component-text {
        margin-top: 5%;
    }

    .forecast-containter {
        width: 100%;
    }
}
