/*
font-family: 'Asap Condensed', sans-serif;
font-family: 'Raleway', sans-serif;*/

* {
    box-sizing: border-box;
    font-family: 'Asap Condensed', sans-serif;
}

body {
    margin: 0px;
}

html { 
  background: url("https://source.unsplash.com/daily?mountain") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.triangle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    transform-origin: 0 0;
    transform: rotate(45deg);
    min-width: 952px;
}


