* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    color: dimgrey;
}

body {
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 200;
}

.navbar-container a {
    margin: 20px;
    text-decoration: none;

}

.navbar-container a:hover {
    color: #776868;
    background-color: #EFEFEF;
}

.footer-container i:hover {
    color: #776868;
}


.header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home {
    background: url("https://images.unsplash.com/photo-1495214783159-3503fd1b572d") no-repeat center;
    height: 450px;
    width: 100%;
    background-size: cover;
}

.about {
    background: url("https://images.unsplash.com/photo-1505784045224-1247b2b29cf3") no-repeat center;
    height: 450px;
    width: 100%;
    background-size: cover;
}

.contact {
    background: url("https://images.unsplash.com/photo-1493847242172-d46053a1f671") no-repeat center;
    height: 450px;
    width: 100%;
    background-size: cover;
}

.services {
    background: url("https://images.unsplash.com/photo-1507090960745-b32f65d3113a") no-repeat center;
    height: 450px;
    width: 100%;
    background-size: cover;
}

.header-text {
    margin: 55px 0;
}

.profile-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-container {
    width: 350px;
    padding: 55px 25px;
    border: 20px solid white;
    background-color: #f5f5f5;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contact-img {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin: auto auto 15% auto;
}

.contact-name,
.contact-number {
    margin: 0;
}

.services-component-container {
    width: 100%;
    /*align-self: flex-start;
    margin-left: 10%;*/
}

.services-component-container .header-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.services-window-container {
    width: 100%;
    display: flex;
    margin-top: 150px;
    margin-left: 10%;
}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5%;
}

.services-container a {
    text-decoration: none;
    margin: 5px;

}

.footer-container {
    width: 100%;
    padding: 25px 0;
    margin-top: 105px;
    border-top: 1px solid #d9d9d9;
    display: flex;
    justify-content: center;

}

.footer-container i {
    display: inline-block;
    margin: 25px;
}
